.Main {

}

.PeriodPicker {
    position: relative;
    margin-right: 100px;
    margin-left: 150px;
    top: 5px;
    text-align: left;
}

.form-control {
    width: 220px;
    margin: 5px;
    padding:5px;
    border-color: #515352;
    background: #ffffff;
    color: #0b2f40;
    font-size: 0.8rem;
    font-weight: 500;
}

.DatePicker {
    position: relative;
    margin-left: 150px;
    text-align: left;
}


h1.big-title {
    margin-left: 100px;
    text-align: left;
    color: #ffffff;
    font-family: Roboto;
    font-size: 50px;

}

.header {
    padding: 50px;
    text-align: center;
    background: #0b2f40;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #515352;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    text-align: left;
}

button {
    position: absolute;
    top: 228px;
    left: 0px;
    margin-left: 10px;
    background-color: #717e8a; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}