
table{
    border-collapse: collapse;
    margin: auto;
    margin-top:20px;
    border-radius: 2px;
}
table, th, td {
    border-bottom: 3px solid #f1eded;

}
td{
    text-align: center;
    padding:5px;
    font-size: 12px;

}
thead, th{
    color: #515352;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding:8px;

}

.Table{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.biggest-turnover {
    float: left;
    padding-top: 20px;
    padding-right: 50px;
    font-size: 16px;
}

.gained-declined{
    float: left;
    padding-top: 20px;
    padding-right: 50px;
    font-size: 16px;
}
.most-active{
    float: left;
    padding-top: 20px;
    padding-right: 50px;
    font-size: 16px;
}

.period-table {
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 16px;

}

.period-table th{
    padding: 20px;
}

td{
    padding: 10px 20px 10px 20px;
}
